body {
	font-family: "Futura", "Helvetica", sans-serif;
}


.center {
	text-align: center;
}

.highlight {
	background-color: #E4F518;
}
a.muted-link, a.muted-link:active, a.muted-link:hover {
	text-decoration: underline;
	text-decoration-style: dotted;
	color: #BBC2BE;
}


#dude-display, #not-dude-display {
	font-size: 24px;
	font-family: "Courier", sans-serif;
}

#button-div {
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
}
.btn-default {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	padding: 40px 0px 0px 0px;
	border: none;
	background-color: #d8e2dc;
	box-shadow: 0 10px #777;
	margin-bottom: 10px;
}
.btn-default:hover, .btn-default:active {
	background-color: #d8e2dc;
	box-shadow: 0 7px #777;
	margin-top: 3px;
	margin-bottom: 7px;
}
.btn-default.pressed {
	background-color: #BBC2BE;
	box-shadow: none;
	margin-top: 10px;
	margin-bottom: 0px;
}

#ans {
	font-size: 24px;
	font-family: "Courier", sans-serif;
	color: #BBC2BE;
}


.alert {
	border-radius: 0px;
}
.alert-ga {
	background-color: #1d2951;
	color: #d8e2dc;
	border: 0px;
}
.alert-ga a, .alert-ga a:hover, .alert-ga a:visited, .alert-ga a:active{
	color: #d8e2dc;
	text-decoration: none;
}
.alert-ga a:hover {
	text-decoration: underline;
	text-decoration-style: dotted;
}
a.icon-link:hover {
	text-decoration: none;
	color: #fff;
}
